@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: gray;
    background-image: linear-gradient(180deg, #00db6a, rgb(25, 25, 25));
}

.form {
    position: relative;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 350px;
    background-color: white;
    padding: 20px;
}

label {
    font-size: 20px;
}

#header {
    background-color: #eee;
    border-radius: 10px 10px 0 0;
    margin-bottom: 30px;
}

#header > h1 {
    padding: 15px;
}

input {
    border-radius: 10px;
    border: 2px solid #e0e0e0;
    font-size: 14px;
    padding: 10px;
    width: 100%;
    display: block;
}

small {
    margin-bottom: 10px;
    display: block;
    color: #db0000;
    visibility: hidden;
}

span {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

span.erro {
    color: #db0000;
}

span.certo {
    color: #00db6a;
}

#outros {
    text-align: center;
    padding: 10px 0;
}

#outros > input {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: none;
    background-color: lightseagreen;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 10px;
    cursor: pointer;
}

#outros a {
    text-decoration: none;
    color: gray;
}

#outros a:hover {
    text-decoration: underline;
    color: rgb(44,44,44);
    font-weight: 500;
}

.errado > input {
    border: 2px solid #db0000;
}

.certo > input {
    border: 2px solid #00db6a;
}