@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100vw;
    background-color: gray;
    background-image: url(../images/back.jpg);
    background-size: cover;
    background-position: center;
}

.form {
    position: relative;
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    width: 500px;
    background-color: transparent;
    padding: 20px;
    backdrop-filter: blur(5px);
    border: 3px solid #fff;
    box-shadow: 4px 5px 5px rgba(33, 33, 33, .5);
}

label {
    font-size: 20px;
    background-color: rgb(44, 44, 44);
    color: white;
    border-radius: 10px;
    padding: 5px 20px;
}

#header {
    background-color: #eee;
    border-radius: 10px 10px 0 0;
    margin-bottom: 30px;
}

#header > h1 {
    padding: 15px;
}

input {
    border-radius: 10px;
    border: 2px solid rgb(44, 44, 44);
    font-size: 14px;
    padding: 10px;
    width: 100%;
    display: block;
}

#login input {
    margin-top: 10px;
}

small {
    margin-bottom: 10px;
    display: block;
    color: #db0000;
    visibility: hidden;
}

span {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
}

span.erro {
    color: #db0000;
}

span.certo {
    color: #00db6a;
}

#outros {
    text-align: center;
    padding: 10px 0;
}

#outros > input {
    width: 100%;
    padding: 15px;
    font-size: 20px;
    border: none;
    background-color: lightseagreen;
    border-radius: 10px;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}

#outros p {
    margin-bottom: 20px;
}

#outros p:nth-child(3) {
    margin-bottom: 0;
}

#outros a {
    text-decoration: none;
    background-color: rgb(44, 44, 44);
    color: white;
    padding: 5px 20px;
    border-radius: 10px;
    transition: .4s;
}

#outros a:hover {
    text-decoration: underline;
    background-color: rgb(0, 0, 0);
    font-weight: 500;
}

.errado > input {
    border: 2px solid #db0000;
}

.certo > input {
    border: 2px solid #00db6a;
}